Repository Judopay/JudoKit-ReactNative: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, clang-format, ktlint

lint:
  run: npx eslint {staged_files}

types:
  run: npx tsc --noEmit

clang-format:
  run: bundle exec scripts/clang_format.rb

ktlint:
  run: bundle exec scripts/ktlint_format.rb

chore(test): update Slack notification
  .circleci/config.yml
Due: none

Address E2E flakiness (#201)
  .circleci/config.yml
  example/e2e/functional.test.ts
  example/e2e/helpers.ts
  example/e2e/jest.config.js
Due: lint, types

chore(test): add step up flow tests and refactor
  .circleci/config.yml
  example/e2e/constants.ts
  example/e2e/functional.test.ts
  example/e2e/helpers.ts
Due: lint, types

chore(test): fix failing tests
  example/e2e/functional.test.ts
  example/e2e/helpers.ts
Due: lint, types

CT-2952 | Step up flow UI tests (#202)
  .circleci/config.yml
  example/e2e/constants.ts
  example/e2e/functional.test.ts
  example/e2e/helpers.ts
Due: lint, types

chore(sdk): adjustments for partner API updates (#200)
  android/src/main/java/com/judopay/judokit/reactnative/Helpers.kt
  ios/Wrappers/RNWrappers.m
  src/types/judo-configuration.ts
Due: lint, types, clang-format, ktlint

feat(test): initial billing info test and refactor
  .circleci/config.yml
  example/e2e/constants.ts
  example/e2e/functional.test.ts
  example/e2e/helpers.ts
  example/src/Data/SettingsSections/threeDSTwoSection.ts
Due: lint, types

feat(test): add UK postcode validation test
  example/e2e/constants.ts
  example/e2e/functional.test.ts
  example/e2e/helpers.ts
Due: lint, types

fix(sdk): fixes inconsistent mapping of `consumer` object
  android/src/main/java/com/judopay/judokit/reactnative/Helpers.kt
Due: ktlint

chore(sdk): deprecation warnings Lint fixes (squashed)
  android/src/main/java/com/judopay/judokit/reactnative/Helpers.kt
  src/types/judo-configuration.ts
Due: lint, types, ktlint

feat(test): add US/CA postcode tests
  example/e2e/constants.ts
  example/e2e/functional.test.ts
  example/e2e/helpers.ts
Due: lint, types

fix(sdk): fixes inconsistent mapping of `consumer` object (#203)
  android/src/main/java/com/judopay/judokit/reactnative/Helpers.kt
Due: ktlint

chore(sdk): deprecation warnings Lint fixes (squashed) (#204)
  android/src/main/java/com/judopay/judokit/reactnative/Helpers.kt
  src/types/judo-configuration.ts
Due: lint, types, ktlint

feat(test): add more validation tests and helpers
  example/e2e/constants.ts
  example/e2e/functional.test.ts
  example/e2e/helpers.ts
Due: lint, types

feat(test): dismiss keyboard on iOS for postcode
  example/e2e/helpers.ts
Due: lint, types

feat(test): increase timeouts
  example/e2e/functional.test.ts
  example/e2e/helpers.ts
Due: lint, types

feat(test): fix re-ordered tests
  example/e2e/functional.test.ts
Due: lint, types

feat(test): run e2e only on master branch
  .circleci/config.yml
Due: none

feat(test): circle config syntax fix
  .circleci/config.yml
Due: none

CT-2903 | Billing Details UI Tests (#205)
  .circleci/config.yml
  example/e2e/constants.ts
  example/e2e/functional.test.ts
  example/e2e/helpers.ts
  example/src/Data/SettingsSections/threeDSTwoSection.ts
Due: lint, types

fix(android): settings data getting reset bug
  example/src/Components/SettingsTable/index.tsx
Due: lint

feat(test): implement custom configs and refactor
  example/e2e/README.md
  example/e2e/configs/billingInfo.json
  example/e2e/configs/default.json
  example/e2e/configs/noPreferenceCRI.json
  example/e2e/functional.test.ts
  example/e2e/helpers.ts
  example/e2e/processJSONFile.ts
  example/package.json
  example/src/Application/index.tsx
  yarn.lock
Due: lint, types

feat(test): address PR comments
  example/e2e/functional.test.ts
  example/e2e/helpers.ts
  example/e2e/processJSONFile.ts
  example/src/Application/index.tsx
Due: lint, types

Implement custom configs and refactor (#207)
  example/e2e/README.md
  example/e2e/configs/billingInfo.json
  example/e2e/configs/default.json
  example/e2e/configs/noPreferenceCRI.json
  example/e2e/functional.test.ts
  example/e2e/helpers.ts
  example/e2e/processJSONFile.ts
  example/package.json
  example/src/Application/index.tsx
  yarn.lock
Due: lint, types

fix(test): debug failures on ci
  .circleci/config.yml
  example/e2e/functional.test.ts
Due: lint, types

fix(test): add delays to help debugging
  .circleci/config.yml
  example/e2e/functional.test.ts
Due: lint, types

fix(test): add some logging
  example/e2e/functional.test.ts
  example/src/Application/index.tsx
Due: lint, types

fix(test): use correct env variables
  example/e2e/functional.test.ts
  example/e2e/helpers.ts
  example/src/Application/index.tsx
Due: lint, types

fix(test): add some delays for Android
  example/e2e/functional.test.ts
Due: lint, types

fix(test): add delays for Android
  example/e2e/functional.test.ts
Due: lint, types

fix(test): restore CI config
  .circleci/config.yml
Due: none

Fix E2E pipeline (#209)
  example/e2e/functional.test.ts
  example/e2e/helpers.ts
Due: lint, types

chore(sample-app): migration to react-native-mmkv-storage
  Gemfile.lock
  example/ios/Podfile.lock
  example/package.json
  example/src/Application/ApplicationRouter/Screens/SettingsMainScreen/index.tsx
  example/src/Application/index.tsx
  example/src/Components/SettingsTable/index.tsx
  example/src/CustomHooks/useJudoConfiguration/index.tsx
  example/src/Functions/index.tsx
  package.json
  yarn.lock
Due: lint

fix(sample-app): args loading logic fixes
  example/src/Application/index.tsx
  example/src/Functions/index.tsx
Due: lint

CT-2872 | Bug resetting config/ Migration to RN MMKV Storage
  Gemfile.lock
  example/ios/Podfile.lock
  example/package.json
  example/src/Application/ApplicationRouter/Screens/SettingsMainScreen/index.tsx
  example/src/Application/index.tsx
  example/src/Components/SettingsTable/index.tsx
  example/src/CustomHooks/useJudoConfiguration/index.tsx
  example/src/Functions/index.tsx
  package.json
  yarn.lock
Due: lint

chore(sdk): judoKit-ios version update
  Gemfile.lock
  JudoKit-ReactNative.podspec
  example/ios/Podfile.lock
  example/package.json
  package.json
Due: none

chore(sdk): judoKit-ios version update (#211)
  Gemfile.lock
  JudoKit-ReactNative.podspec
  example/ios/Podfile.lock
  example/package.json
  package.json
Due: none

chore(ci/cd): updates xcode version
  .circleci/config.yml
  .yarn/releases/yarn-4.2.2.cjs
  .yarn/releases/yarn-4.4.0.cjs
  .yarnrc.yml
  package.json
Due: none

chore(ci/cd): updates xcode version
  .circleci/config.yml
  .yarn/releases/yarn-4.2.2.cjs
  .yarn/releases/yarn-4.4.0.cjs
  .yarnrc.yml
  package.json
  yarn.lock
Due: none

Path conditions:
  lint: any of: *.{js,ts,jsx,tsx}
  types: any of: *.{js,ts, jsx, tsx}
  clang-format: any of: *.{m,h,mm}
  ktlint: any of: *.kt
