Repository Judopay/JudoKit-ReactNative: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, clang-format, ktlint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: "*.{js,ts,jsx,tsx}"
      run: npx eslint {staged_files}
    types:
      glob: "*.{js,ts, jsx, tsx}"
      run: npx tsc --noEmit
    clang-format:
      glob: "*.{m,h,mm}"
      run: bundle exec scripts/clang_format.rb
    ktlint:
      glob: "*.kt"
      run: bundle exec scripts/ktlint_format.rb
commit-msg:
  parallel: true
  commands:
    commitlint:
      run: npx commitlint --edit

chore(deps): cleans up code for PR
  android/src/main/java/com/judopay/judokit/reactnative/JudoKitReactNativePackage.kt
Due: ktlint

chore(deps): cleans up code for PR
  .circleci/config.yml
Due: none

Revert "chore(deps): cleans up code for PR"
  .circleci/config.yml
Due: none

Revert "chore(deps): updates RN to 0.80.1"
  android/src/main/java/com/judopay/judokit/reactnative/JudoActivityEventListener.kt
  example/android/gradle/wrapper/gradle-wrapper.properties
  example/ios/JudoKitReactNativeExample.xcodeproj/project.pbxproj
  example/ios/JudoKitReactNativeExample/Info.plist
  example/ios/Podfile.lock
  example/package.json
  package.json
  yarn.lock
Due: ktlint

chore(deps): cleans up code for PR
  .yarnrc.yml
Due: none

chore(deps): cleans up code for PR
  ios/JudoKitReactNative.mm
  src/NativeJudoKitReactNativeModule.ts
Due: lint, types, clang-format

chore(deps): cleans up code for PR
  ios/JudoKitReactNative.mm
Due: clang-format

chore(deps): prettier fix
  example/ios/JudoKitReactNativeExample.xcodeproj/project.pbxproj
  package.json
Due: none

chore(deps): prettier fix
  package.json
  src/NativeJudoKitReactNativeModule.ts
  src/__tests__/judo-kit.test.ts
Due: lint, types

chore(deps): prettier fix
  example/src/Application/ApplicationRouter/Screens/ResultScreen/index.tsx
  example/src/Components/FeatureItem/index.tsx
Due: lint

chore(deps): prettier fix
  ios/JudoKitReactNative.mm
Due: clang-format

chore(deps): example app settings storage issue fixed
  example/src/CustomHooks/useJudoConfiguration/index.tsx
Due: lint

chore(deps): example app settings storage issue fix 2
  example/src/Application/ApplicationRouter/Screens/SettingsMainScreen/index.tsx
  example/src/Components/SettingsTable/index.tsx
  example/src/CustomHooks/useJudoConfiguration/index.tsx
  example/src/Functions/index.tsx
Due: lint

chore(deps): old arch iOS fix
  ios/JudoKitReactNative.mm
Due: clang-format

chore(deps): lint clean
  example/ios/JudoKitReactNativeExample.xcodeproj/project.pbxproj
Due: none

chore(deps): updates JudoKit-iOS and JudoKit-Android versions
  JudoKit-ReactNative.podspec
  android/gradle.properties
  example/android/app/build.gradle
  example/ios/Podfile.lock
Due: none

chore(deps): provides correct yarn.lock
  yarn.lock
Due: none

chore(deps): fixes wormholy
  example/ios/AppDelegate.swift
  example/ios/JudoKitReactNativeExample.xcodeproj/project.pbxproj
  example/ios/Podfile.lock
Due: none

chore(deps): yarn version update
  .yarn/releases/yarn-4.7.0.cjs
  .yarn/releases/yarn-4.9.2.cjs
  .yarnrc.yml
  package.json
Due: none

chore(deps): ruby and bundle update
  .ruby-version
  Gemfile
  Gemfile.lock
  example/ios/JudoKitReactNativeExample.xcodeproj/project.pbxproj
Due: none

chore(deps): reverts mmkv storage
  Gemfile
  Gemfile.lock
  example/ios/JudoKitReactNativeExample.xcodeproj/project.pbxproj
  example/ios/JudoKitReactNativeExample/Info.plist
  example/ios/JudoKitReactNativeExample/PrivacyInfo.xcprivacy
  example/ios/Podfile
  example/ios/Podfile.lock
  example/package.json
  example/src/Application/ApplicationRouter/Screens/SettingsMainScreen/index.tsx
  example/src/Application/index.tsx
  example/src/Components/SettingsTable/index.tsx
  example/src/CustomHooks/useJudoConfiguration/index.tsx
  example/src/Functions/index.tsx
  yarn.lock
Due: lint

chore(demo): reverts unnecesary changes
  example/src/Components/FeatureItem/index.tsx
Due: lint

fix(demo): move away from the deprecated RCTAppDelegate
  example/ios/AppDelegate.swift
Due: none

chore(sdk): fixes ios turbo module
  example/android/gradle/wrapper/gradle-wrapper.properties
  example/android/settings.gradle
  example/src/Application/ApplicationRouter/Screens/SettingsMainScreen/index.tsx
  example/src/Application/index.tsx
  example/src/Functions/index.tsx
  ios/JudoKitReactNative.h
  ios/JudoKitReactNative.mm
  package.json
  src/NativeJudoKitReactNativeModule.ts
  src/specs/NativeJudoKitReactNativeModule.ts
  yarn.lock
Due: lint, types, clang-format

chore(demo): android implementation updates
  android/build.gradle
  android/gradle.properties
  android/gradle/wrapper/gradle-wrapper.jar
  android/gradle/wrapper/gradle-wrapper.properties
  android/gradlew
  android/gradlew.bat
  android/src/fabric/java/com/judopay/judokit/reactnative/JudoKitReactNativeModule.kt
  android/src/main/java/com/judopay/judokit/reactnative/JudoActivityEventListener.kt
  android/src/main/java/com/judopay/judokit/reactnative/JudoKitReactNativeModuleImpl.kt
  android/src/main/java/com/judopay/judokit/reactnative/JudoKitReactNativePackage.kt
  android/src/newarch/JudoKitReactNativeModule.kt
  android/src/paper/java/com/judopay/judokit/reactnative/JudoKitReactNativeModule.kt
  example/android/app/build.gradle
  example/android/build.gradle
  example/android/gradle.properties
  example/ios/Podfile.lock
  example/package.json
  example/src/Application/ApplicationRouter/Screens/ResultScreen/index.tsx
  example/src/Application/ApplicationRouter/Screens/SettingsMainScreen/index.tsx
  example/src/Application/ApplicationRouter/Screens/SettingsSingleSelectionScreen/index.tsx
  example/src/Application/index.tsx
  example/src/Components/BackButton/index.tsx
  example/src/Components/ChildPaneSettingsItem/index.tsx
  example/src/Components/SettingsButton/index.tsx
  example/src/Components/SingleSelectionSettingsItem/index.tsx
  yarn.lock
Due: lint, ktlint

chore(ci): updates ci config
  .circleci/config.yml
Due: none

chore(ci): updates ci config
  .circleci/config.yml
  .ruby-version
  Gemfile.lock
Due: none

chore(sdk): updates android setup
  android/build.gradle
  example/react-native.config.js
Due: lint, types

chore(ci/cd): updates android setup
  .circleci/config.yml
Due: none

chore(ci/cd): updates android setup
  fastlane/Fastfile
Due: none

chore(sdk): updates android setup
  android/build.gradle
  android/src/newarch/java/com/judopay/judokit/reactnative/JudoKitReactNativeModule.kt
  android/src/oldarch/java/com/judopay/judokit/reactnative/JudoKitReactNativeModule.kt
  example/metro.config.js
  example/package.json
  yarn.lock
Due: lint, types, ktlint

chore(sdk): removes unnecesary changes
  Gemfile
  Gemfile.lock
  android/src/main/java/com/judopay/judokit/reactnative/JudoKitReactNativeModuleImpl.kt
Due: ktlint

chore: update dependency @evilmartians/lefthook to v1.12.3
  yarn.lock
Due: none

chore(example): launch arguments for detox tests
  Gemfile.lock
  example/ios/Podfile.lock
  example/package.json
  example/src/Application/index.tsx
  yarn.lock
Due: lint

chore(example): optimisation of settings persistance
  example/src/Components/SettingsTable/index.tsx
Due: lint

chore(example): launch arguments for detox tests (#237)
  Gemfile.lock
  example/ios/Podfile.lock
  example/package.json
  example/src/Application/index.tsx
  example/src/Components/SettingsTable/index.tsx
  yarn.lock
Due: lint
