Repository Judopay/JudoKit-ReactNative: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, clang-format, ktlint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: "*.{js,ts,jsx,tsx}"
      run: npx eslint {staged_files}
    types:
      glob: "*.{js,ts, jsx, tsx}"
      run: npx tsc --noEmit
    clang-format:
      glob: "*.{m,h,mm}"
      run: bundle exec scripts/clang_format.rb
    ktlint:
      glob: "*.kt"
      run: bundle exec scripts/ktlint_format.rb
commit-msg:
  parallel: true
  commands:
    commitlint:
      run: npx commitlint --edit

chore(sdk): fixes yarn lock
  yarn.lock
Due: none

chore(sdk): updates native dependencies (#272)
  Gemfile.lock
  JudoKit-ReactNative.podspec
  README.md
  android/gradle.properties
  android/src/main/java/com/judopay/judokit/reactnative/Extensions.kt
  android/src/main/java/com/judopay/judokit/reactnative/Helpers.kt
  commitlint.config.js
  example/.detoxrc.js
  example/android/app/build.gradle
  example/ios/Podfile.lock
  fastlane/README.md
  ios/Wrappers/RNWrappers.m
  package.json
  src/types/index.ts
  src/types/judo-configuration.ts
  yarn.lock
Due: lint, types, clang-format, ktlint

chore: update react monorepo
  example/package.json
  package.json
  yarn.lock
Due: none

chore(sdk): fixes the issue with mapping token property
  android/src/main/java/com/judopay/judokit/reactnative/Extensions.kt
Due: ktlint

chore(sdk): fixes the issue with mapping token property (#273)
  android/src/main/java/com/judopay/judokit/reactnative/Extensions.kt
Due: ktlint

chore: updates yarn version
  .yarn/releases/yarn-4.12.0.cjs
  .yarn/releases/yarn-4.13.0.cjs
  .yarnrc.yml
  package.json
Due: none

chore: updates yarn version (#284)
  .yarn/releases/yarn-4.12.0.cjs
  .yarn/releases/yarn-4.13.0.cjs
  .yarnrc.yml
  package.json
Due: none

chore: update dependency activesupport to v7.2.3.1 [security]
  Gemfile.lock
Due: none

chore: release 6.4.0 preps
  JudoKit-ReactNative.podspec
  android/gradle.properties
  example/ios/Podfile
  example/ios/Podfile.lock
  example/package.json
  package.json
Due: none

chore: release 6.4.0 preps (#285)
  JudoKit-ReactNative.podspec
  android/gradle.properties
  example/ios/Podfile
  example/ios/Podfile.lock
  example/package.json
  package.json
Due: none

chore: update dependency lodash to v4.18.1 [security]
  yarn.lock
Due: none

chore(example-app): updates ravelin-encrypt version
  Gemfile.lock
  example/android/app/build.gradle
Due: none

chore(example-app): updates ravelin-encrypt version (#287)
  Gemfile.lock
  example/android/app/build.gradle
Due: none

chore(sdk): updates native SDK (android) version
  android/gradle.properties
  example/android/app/build.gradle
Due: none

chore: release 6.5.0 preps
  example/ios/Podfile.lock
  example/package.json
  package.json
Due: none

chore: apply packaging excludes and updates gems
  Gemfile.lock
  example/android/app/build.gradle
Due: none

CT-3260 Versions Update (#288)
  Gemfile.lock
  android/gradle.properties
  example/android/app/build.gradle
  example/ios/Podfile.lock
  example/package.json
  package.json
Due: none

chore: update dependency concurrent-ruby to '< 1.3.8' [security]
  Gemfile
  Gemfile.lock
Due: none

chore: bump up Android target sdk to 36
  .yarn/releases/yarn-4.13.0.cjs
  .yarn/releases/yarn-4.17.1.cjs
  .yarnrc.yml
  android/build.gradle
  android/gradle.properties
  example/android/app/build.gradle
  example/android/build.gradle
  example/android/gradle/wrapper/gradle-wrapper.properties
  example/package.json
  example/src/Application/ApplicationRouter/Screens/GetTransactionDetailsScreen/index.tsx
  example/src/Application/ApplicationRouter/Screens/HomeScreen/index.tsx
  example/src/Application/ApplicationRouter/Screens/NoUiPaymentsScreen/index.tsx
  example/src/Application/ApplicationRouter/Screens/ResultScreen/index.tsx
  example/src/Application/ApplicationRouter/Screens/SettingsApplePay/index.tsx
  example/src/Application/ApplicationRouter/Screens/SettingsMainScreen/index.tsx
  example/src/Application/ApplicationRouter/Screens/SettingsSingleSelectionScreen/index.tsx
  example/src/Application/ApplicationRouter/Screens/SettingsThreeDSUIScreen/index.tsx
  example/src/Application/ApplicationRouter/Screens/TokenPaymentsScreen/index.tsx
  example/src/Application/index.tsx
  package.json
  yarn.lock
Due: lint

chore: bump up Android target sdk to 36 (#291)
  .yarn/releases/yarn-4.13.0.cjs
  .yarn/releases/yarn-4.17.1.cjs
  .yarnrc.yml
  android/build.gradle
  android/gradle.properties
  example/android/app/build.gradle
  example/android/build.gradle
  example/android/gradle/wrapper/gradle-wrapper.properties
  example/package.json
  example/src/Application/ApplicationRouter/Screens/GetTransactionDetailsScreen/index.tsx
  example/src/Application/ApplicationRouter/Screens/HomeScreen/index.tsx
  example/src/Application/ApplicationRouter/Screens/NoUiPaymentsScreen/index.tsx
  example/src/Application/ApplicationRouter/Screens/ResultScreen/index.tsx
  example/src/Application/ApplicationRouter/Screens/SettingsApplePay/index.tsx
  example/src/Application/ApplicationRouter/Screens/SettingsMainScreen/index.tsx
  example/src/Application/ApplicationRouter/Screens/SettingsSingleSelectionScreen/index.tsx
  example/src/Application/ApplicationRouter/Screens/SettingsThreeDSUIScreen/index.tsx
  example/src/Application/ApplicationRouter/Screens/TokenPaymentsScreen/index.tsx
  example/src/Application/index.tsx
  package.json
  yarn.lock
Due: lint

fix: edge-to-edge issues in the example app
  example/src/Application/ApplicationRouter/Screens/GetTransactionDetailsScreen/index.tsx
  example/src/Application/ApplicationRouter/Screens/HomeScreen/index.tsx
  example/src/Application/ApplicationRouter/Screens/NoUiPaymentsScreen/index.tsx
  example/src/Application/ApplicationRouter/Screens/ResultScreen/index.tsx
  example/src/Application/ApplicationRouter/Screens/SettingsApplePay/index.tsx
  example/src/Application/ApplicationRouter/Screens/SettingsMainScreen/index.tsx
  example/src/Application/ApplicationRouter/Screens/SettingsSingleSelectionScreen/index.tsx
  example/src/Application/ApplicationRouter/Screens/SettingsThreeDSUIScreen/index.tsx
  example/src/Application/ApplicationRouter/Screens/TokenPaymentsScreen/index.tsx
Due: lint

fix: edge-to-edge issues in the example app (#292)
  example/src/Application/ApplicationRouter/Screens/GetTransactionDetailsScreen/index.tsx
  example/src/Application/ApplicationRouter/Screens/HomeScreen/index.tsx
  example/src/Application/ApplicationRouter/Screens/NoUiPaymentsScreen/index.tsx
  example/src/Application/ApplicationRouter/Screens/ResultScreen/index.tsx
  example/src/Application/ApplicationRouter/Screens/SettingsApplePay/index.tsx
  example/src/Application/ApplicationRouter/Screens/SettingsMainScreen/index.tsx
  example/src/Application/ApplicationRouter/Screens/SettingsSingleSelectionScreen/index.tsx
  example/src/Application/ApplicationRouter/Screens/SettingsThreeDSUIScreen/index.tsx
  example/src/Application/ApplicationRouter/Screens/TokenPaymentsScreen/index.tsx
Due: lint

fix: status bar theme issues in the example app
  example/src/Application/index.tsx
Due: lint

fix: status bar theme issues in the example app (#293)
  example/src/Application/index.tsx
Due: lint

chore: update dependency @babel/core to v7.29.6 [security]
  yarn.lock
Due: none

fix: pin dependencies
  example/package.json
  package.json
  yarn.lock
Due: none

chore(sdk): implements json settings loading for rn android
  example/android/app/src/main/java/com/judopay/wallet/MainApplication.kt
  example/android/app/src/main/java/com/judopay/wallet/SettingsJsonModule.kt
  example/android/app/src/main/java/com/judopay/wallet/SettingsJsonPackage.kt
  example/e2e/constants.ts
  example/src/Application/ApplicationRouter/Screens/HomeScreen/index.tsx
  example/src/Application/ApplicationRouter/Screens/SettingsMainScreen/index.tsx
  example/src/Application/ApplicationRouter/index.tsx
  example/src/Components/ImportSettingsModal/index.tsx
  example/src/CustomHooks/useSettingsTableState/index.ts
  example/src/Data/Constants/index.tsx
  example/src/Data/SettingsImporter/index.ts
  example/src/Data/SettingsImporter/persist.ts
  example/src/Functions/index.tsx
  example/src/Native/SettingsJsonModule.ts
Due: lint, types, ktlint

chore(sdk): implements json settings loading for rn ios
  example/ios/JudoKitReactNativeExample.xcodeproj/project.pbxproj
  example/ios/SettingsJsonModule.m
  example/src/Application/ApplicationRouter/Screens/HomeScreen/index.tsx
  example/src/Application/ApplicationRouter/Screens/SettingsMainScreen/index.tsx
Due: lint, clang-format

chore(sdk): fixes modal scrolling/ unreachable bottom button (JSON import)
  example/src/Components/ImportSettingsModal/index.tsx
Due: lint

chore(sdk): fixes crash bug on iOS 27 - introduces SceneDelegate
  example/ios/AppDelegate.swift
  example/ios/JudoKitReactNativeExample.xcodeproj/project.pbxproj
  example/ios/JudoKitReactNativeExample/Info.plist
  example/ios/SceneDelegate.swift
Due: none

chore(sdk): synchronises podfile.lock of the demo app
  example/ios/Podfile.lock
Due: none

chore(sdk): example app settings keys aligned with natives for maestro
  example/src/Data/Constants/index.tsx
  example/src/Data/SettingsImporter/index.ts
Due: lint, types

chore(sdk): code cleanup (self-review before PR)
  example/android/app/src/main/java/com/judopay/wallet/SettingsJsonModule.kt
  example/src/Components/ImportSettingsModal/index.tsx
  example/src/Data/SettingsImporter/index.ts
Due: lint, types, ktlint

chore(sdk): code cleanup (self-review before PR)
  example/src/Data/SettingsImporter/index.ts
Due: lint, types

chore(sdk): code cleanup (self-review before PR)
  example/ios/SceneDelegate.swift
Due: none

chore(sdk): code cleanup (self-review before PR)
  example/src/Application/ApplicationRouter/index.tsx
Due: lint
