Repository Judopay/JudoKit-ReactNative: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, clang-format, ktlint

lint:
  run: npx eslint {staged_files}

types:
  run: npx tsc --noEmit

clang-format:
  run: bundle exec scripts/clang_format.rb

ktlint:
  run: bundle exec scripts/ktlint_format.rb

fix(sdk): fixes wrong package.json module path in `lib` generated files (#190)
  example/package.json
  package.json
  scripts/rewrite-package-json-module-path.js
  tsconfig.build.json
  yarn.lock
Due: lint, types

chore(ci): initial config for UI tests
  .circleci/config.yml
Due: none

chore(ci): use checkout job correctly
  .circleci/config.yml
Due: none

chore(ci): replace yarn global with dlx
  .circleci/config.yml
Due: none

chore(ci): use npm install instead of yarn dlx
  .circleci/config.yml
Due: none

chore(ci): add try catch for 3DS2 completion
  example/e2e/helpers.ts
Due: lint, types

chore(ci): additional check for payment methods
  example/e2e/helpers.ts
Due: lint, types

chore(ci): initial setup of Android config
  .circleci/config.yml
Due: none

chore(ci): install Android SDK before running tests
  .circleci/config.yml
Due: none

chore(ci): fix config
  .circleci/config.yml
Due: none

chore(ci): setup Android emulator
  .circleci/config.yml
Due: none

chore(ci): use orb for installing/running emulator
  .circleci/config.yml
Due: none

chore(ci): change emulator type
  .circleci/config.yml
Due: none

chore(ci): setup executor before running commands
  .circleci/config.yml
Due: none

chore(ci): skip setting up Android already done
  .circleci/config.yml
Due: none

chore(ci): switch to M1 executor
  .circleci/config.yml
Due: none

chore(ci): more config
  .circleci/config.yml
Due: none

chore(sdk): native dependencies version updates
  Gemfile
  Gemfile.lock
  JudoKit-ReactNative.podspec
  android/build.gradle
  android/gradle.properties
  android/src/main/java/com/judopay/judokit/reactnative/Extensions.kt
  android/src/main/java/com/judopay/judokit/reactnative/Helpers.kt
  example/android/app/build.gradle
  example/android/build.gradle
  example/ios/Podfile.lock
  example/package.json
  example/src/Data/Constants/index.tsx
  example/src/Data/Mapping/index.ts
  example/src/Data/SettingsSections/recommendationFeatureSection.ts
  example/src/Data/TypeDefinitions/index.ts
  ios/Wrappers/RNWrappers.m
  package.json
  src/types/judo-configuration.ts
Due: lint, types, clang-format, ktlint

chore(sdk): updates react-native to 0.74.0
  .circleci/config.yml
  .gitignore
  Gemfile
  Gemfile.lock
  android/build.gradle
  android/gradle.properties
  example/android/app/build.gradle
  example/android/app/src/main/java/com/judopay/wallet/MainApplication.kt
  example/android/build.gradle
  example/android/gradle/wrapper/gradle-wrapper.properties
  example/ios/JudoKitReactNativeExample.xcodeproj/project.pbxproj
  example/ios/JudoKitReactNativeExample/AppDelegate.mm
  example/ios/Podfile
  example/ios/Podfile.lock
  example/ios/PrivacyInfo.xcprivacy
  example/metro.config.js
  example/package.json
  fastlane/.env
  package.json
  yarn.lock
Due: lint, types, clang-format, ktlint

chore(sdk): run CocoaPods with bundle
  .circleci/config.yml
Due: none

chore(ci/cd): updates ruby version
  .ruby-version
  Gemfile.lock
Due: none

chore(ci/cd): attempt to fix failing pod install
  .circleci/config.yml
  .ruby-version
Due: none

chore(example): updates vector-icons dependency
  example/package.json
  yarn.lock
Due: none

chore(sdk): native dependencies version updates (#193)
  .circleci/config.yml
  .gitignore
  Gemfile
  Gemfile.lock
  JudoKit-ReactNative.podspec
  android/build.gradle
  android/gradle.properties
  android/src/main/java/com/judopay/judokit/reactnative/Extensions.kt
  android/src/main/java/com/judopay/judokit/reactnative/Helpers.kt
  example/android/app/build.gradle
  example/android/app/src/main/java/com/judopay/wallet/MainApplication.kt
  example/android/build.gradle
  example/android/gradle/wrapper/gradle-wrapper.properties
  example/ios/JudoKitReactNativeExample.xcodeproj/project.pbxproj
  example/ios/JudoKitReactNativeExample/AppDelegate.mm
  example/ios/Podfile
  example/ios/Podfile.lock
  example/ios/PrivacyInfo.xcprivacy
  example/metro.config.js
  example/package.json
  example/src/Data/Constants/index.tsx
  example/src/Data/Mapping/index.ts
  example/src/Data/SettingsSections/recommendationFeatureSection.ts
  example/src/Data/TypeDefinitions/index.ts
  fastlane/.env
  ios/Wrappers/RNWrappers.m
  package.json
  src/types/judo-configuration.ts
  yarn.lock
Due: lint, types, clang-format, ktlint

chore(sdk): native dependencies version bump, adds privacy manifests
  .ruby-version
  .yarn/releases/yarn-4.1.1.cjs
  .yarn/releases/yarn-4.2.2.cjs
  .yarnrc.yml
  Gemfile
  Gemfile.lock
  JudoKit-ReactNative.podspec
  android/gradle.properties
  example/android/app/build.gradle
  example/ios/JudoKitReactNativeExample.xcodeproj/project.pbxproj
  example/ios/JudoKitReactNativeExample/PrivacyInfo.xcprivacy
  example/ios/Podfile.lock
  example/package.json
  ios/PrivacyInfo.xcprivacy
  package.json
  yarn.lock
Due: none

chore(sdk): native dependencies version bump, adds privacy manifests (#194)
  .ruby-version
  .yarn/releases/yarn-4.1.1.cjs
  .yarn/releases/yarn-4.2.2.cjs
  .yarnrc.yml
  Gemfile
  Gemfile.lock
  JudoKit-ReactNative.podspec
  android/gradle.properties
  example/android/app/build.gradle
  example/ios/JudoKitReactNativeExample.xcodeproj/project.pbxproj
  example/ios/JudoKitReactNativeExample/PrivacyInfo.xcprivacy
  example/ios/Podfile.lock
  example/package.json
  ios/PrivacyInfo.xcprivacy
  package.json
  yarn.lock
Due: none

chore(sdk): native sdk version bump
  android/gradle.properties
  example/android/app/build.gradle
  example/ios/Podfile.lock
  example/package.json
  package.json
Due: none

chore(sdk): native sdk version bump
  android/gradle.properties
  example/android/app/build.gradle
  example/ios/Podfile.lock
  package.json
Due: none

chore(sdk): native sdk version bump (#196)
  android/gradle.properties
  example/android/app/build.gradle
  example/ios/Podfile.lock
  package.json
Due: none

chore(ci/cd): ui tests setup
  .circleci/config.yml
  example/.detoxrc.js
  example/e2e/helpers.ts
  example/package.json
Due: lint, types

chore(ci/cd): ui tests setup (#191)
  .circleci/config.yml
  example/.detoxrc.js
  example/e2e/helpers.ts
  example/package.json
Due: lint, types

feat(sdk): allow increment
  JudoKit-ReactNative.podspec
  android/gradle.properties
  android/src/main/java/com/judopay/judokit/reactnative/Extensions.kt
  android/src/main/java/com/judopay/judokit/reactnative/Helpers.kt
  android/src/main/java/com/judopay/judokit/reactnative/JudoKitReactNativeModule.kt
  android/src/main/java/com/judopay/judokit/reactnative/JudoKitReactNativePackage.kt
  example/android/app/build.gradle
  example/ios/Podfile.lock
  example/src/Data/Constants/index.tsx
  example/src/Data/Mapping/index.ts
  example/src/Data/SettingsSections/othersSection.ts
  example/src/Data/TypeDefinitions/index.ts
  ios/Wrappers/RNWrappers.m
  package.json
  src/types/judo-configuration.ts
Due: lint, types, clang-format, ktlint

feat(sdk): allow increment (#197)
  JudoKit-ReactNative.podspec
  android/gradle.properties
  android/src/main/java/com/judopay/judokit/reactnative/Extensions.kt
  android/src/main/java/com/judopay/judokit/reactnative/Helpers.kt
  android/src/main/java/com/judopay/judokit/reactnative/JudoKitReactNativeModule.kt
  android/src/main/java/com/judopay/judokit/reactnative/JudoKitReactNativePackage.kt
  example/android/app/build.gradle
  example/ios/Podfile.lock
  example/src/Data/Constants/index.tsx
  example/src/Data/Mapping/index.ts
  example/src/Data/SettingsSections/othersSection.ts
  example/src/Data/TypeDefinitions/index.ts
  ios/Wrappers/RNWrappers.m
  package.json
  src/types/judo-configuration.ts
Due: lint, types, clang-format, ktlint

chore(sdk): adjustments for partner API updates
  android/src/main/java/com/judopay/judokit/reactnative/Helpers.kt
  ios/Wrappers/RNWrappers.m
  src/types/judo-configuration.ts
Due: lint, types, clang-format, ktlint

chore(test): increase timeouts for 3DS2
  example/e2e/helpers.ts
Due: lint, types

chore(test): disable gesture navigation
  .circleci/config.yml
Due: none

chore(test): increase timeouts and use replaceText
  example/e2e/functional.test.ts
  example/e2e/helpers.ts
  example/e2e/jest.config.js
Due: lint, types

chore(test): increase timeout and try only 2 tests
  example/e2e/functional.test.ts
  example/e2e/helpers.ts
Due: lint, types

chore(test): increase timeout
  example/e2e/helpers.ts
Due: lint, types

chore(test): enable all tests
  example/e2e/functional.test.ts
Due: lint, types

Path conditions:
  lint: any of: *.{js,ts,jsx,tsx}
  types: any of: *.{js,ts, jsx, tsx}
  clang-format: any of: *.{m,h,mm}
  ktlint: any of: *.kt
