Repository Judopay/JudoKit-ReactNative: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, clang-format, ktlint

lint:
  run: npx eslint {staged_files}

types:
  run: npx tsc --noEmit

clang-format:
  run: bundle exec scripts/clang_format.rb

ktlint:
  run: bundle exec scripts/ktlint_format.rb

chore: update dependency eslint to v8.57.1
  yarn.lock
Due: none

chore(deps): updates React Native (stable)
  example/ios/Podfile.lock
  package.json
  yarn.lock
Due: none

chore(deps): updates React Native (stable)
  package.json
  yarn.lock
Due: none

chore(deps): updates React Native (turbomodules - in progress)
  JudoKit-ReactNative.podspec
  example/android/app/build.gradle
  example/android/app/src/main/java/com/judopay/wallet/MainApplication.kt
  example/android/build.gradle
  example/android/gradle/wrapper/gradle-wrapper.properties
  example/android/settings.gradle
  example/ios/JudoKitReactNativeExample.xcodeproj/project.pbxproj
  example/ios/JudoKitReactNativeExample/PrivacyInfo.xcprivacy
  example/ios/Podfile
  example/ios/Podfile.lock
  example/package.json
  fix_glog_0.3.5_apple_silicon.patch
  ios/JudoKitReactNative.h
  ios/JudoKitReactNative.mm
  package.json
  src/JudoKitReactNativeComponentSpec.ts
  yarn.lock
Due: lint, types, clang-format, ktlint

JudoKit-Android version bump
  android/gradle.properties
  example/android/app/build.gradle
  example/package.json
  package.json
Due: none

Removes IDEAL payment method
  android/src/main/java/com/judopay/judokit/reactnative/Helpers.kt
Due: ktlint

JudoKit-Android version bump (#233)
  android/gradle.properties
  android/src/main/java/com/judopay/judokit/reactnative/Helpers.kt
  example/android/app/build.gradle
  example/package.json
  package.json
Due: ktlint

chore(deps): updates React Native (stable)
  example/ios/Podfile.lock
Due: none

chore(deps): updates React Native (stable)
  example/ios/Podfile.lock
  example/package.json
  yarn.lock
Due: none

chore(deps): updates React Native (stable)
  example/android/gradle/wrapper/gradle-wrapper.properties
Due: none

chore(deps): updates React Native (stable)
  android/build.gradle
Due: none

chore(deps): updates React Native (stable)
  example/android/build.gradle
Due: none

chore(deps): updates React Native - turbomodules (unstable)
  example/ios/Podfile
  ios/JudoKitReactNative.h
  package.json
  src/JudoKitReactNativeComponent.ts
Due: lint, types, clang-format

chore(deps): updates React Native - turbomodules (unstable; Android working with new arch)
  android/build.gradle
  android/src/main/java/com/judopay/judokit/reactnative/JudoKitReactNativePackage.kt
  android/src/newarch/JudoKitReactNativeModule.kt
  android/src/oldarch/JudoKitReactNativeModule.kt
  example/android/app/build.gradle
  example/android/app/src/main/java/com/judopay/wallet/MainApplication.kt
  example/android/build.gradle
  example/android/gradle.properties
  example/android/gradle/wrapper/gradle-wrapper.properties
  example/android/settings.gradle
  example/package.json
  example/src/Application/ApplicationRouter/Screens/SettingsMainScreen/index.tsx
  example/src/Application/index.tsx
  example/src/Components/SettingsTable/index.tsx
  example/src/CustomHooks/useJudoConfiguration/index.tsx
  package.json
  src/NativeJudoKitReactNativeModule.ts
  yarn.lock
Due: lint, types, ktlint

chore(deps): updates React Native - turbomodules (unstable; Android working with new arch)
  android/src/main/java/com/judopay/judokit/reactnative/JudoKitReactNativePackage.kt
Due: ktlint

chore(deps): updates React Native - turbomodules (unstable; Android working with new arch)
  android/src/oldarch/JudoKitReactNativeModule.kt
Due: ktlint

chore(deps): updates React Native - turbomodules (unstable; Android working with new arch)
  ios/JudoKitReactNative.h
Due: clang-format

chore(deps): updates React Native - turbomodules (unstable)
  example/ios/AppDelegate.swift
  example/ios/JudoKitReactNativeExample.xcodeproj/project.pbxproj
  example/ios/JudoKitReactNativeExample/AppDelegate.h
  example/ios/JudoKitReactNativeExample/AppDelegate.mm
  example/ios/JudoKitReactNativeExample/PrivacyInfo.xcprivacy
  example/ios/JudoKitReactNativeExample/main.m
  example/ios/Podfile
  example/ios/Podfile.lock
  example/package.json
  example/src/Application/ApplicationRouter/Screens/HomeScreen/index.tsx
  example/src/Application/ApplicationRouter/index.tsx
  example/src/Application/index.tsx
  example/src/Components/FeatureItem/index.tsx
  example/src/CustomHooks/useJudoConfiguration/index.tsx
  ios/JudoKitReactNative.mm
  src/NativeJudoKitReactNativeModule.ts
  yarn.lock
Due: lint, types, clang-format

chore(deps): updates React Native - turbomodules (iOS building; modules loaded; methods not ready)
  example/ios/Podfile
  example/ios/Podfile.lock
  example/src/Application/ApplicationRouter/Screens/HomeScreen/index.tsx
  example/src/Application/ApplicationRouter/Screens/SettingsMainScreen/index.tsx
  example/src/Application/ApplicationRouter/index.tsx
  example/src/Application/index.tsx
  ios/JudoKitReactNative.mm
  src/NativeJudoKitReactNativeModule.ts
Due: lint, types, clang-format

chore(deps): updates React Native - turbomodules (first interface method working correctly in iOS)
  ios/JudoKitReactNative.mm
  src/NativeJudoKitReactNativeModule.ts
Due: lint, types, clang-format

chore(deps): updates React Native - turbomodules (first interface method…
  ios/JudoKitReactNative.mm
  src/NativeJudoKitReactNativeModule.ts
Due: lint, types, clang-format

chore(deps): updates React Native (stable) (squashed)
  android/build.gradle
  example/android/build.gradle
  example/android/gradle/wrapper/gradle-wrapper.properties
  example/ios/Podfile.lock
  example/package.json
  package.json
  yarn.lock
Due: none

chore(deps): updates React Native - turbomodules (unstable; Android working with new arch) (squashed)
  android/build.gradle
  android/src/main/java/com/judopay/judokit/reactnative/JudoKitReactNativePackage.kt
  android/src/newarch/JudoKitReactNativeModule.kt
  android/src/oldarch/JudoKitReactNativeModule.kt
  example/android/app/build.gradle
  example/android/app/src/main/java/com/judopay/wallet/MainApplication.kt
  example/android/build.gradle
  example/android/gradle.properties
  example/android/gradle/wrapper/gradle-wrapper.properties
  example/android/settings.gradle
  example/ios/Podfile
  example/package.json
  example/src/Application/ApplicationRouter/Screens/SettingsMainScreen/index.tsx
  example/src/Application/index.tsx
  example/src/Components/SettingsTable/index.tsx
  example/src/CustomHooks/useJudoConfiguration/index.tsx
  ios/JudoKitReactNative.h
  package.json
  src/NativeJudoKitReactNativeModule.ts
  yarn.lock
Due: lint, types, clang-format, ktlint

chore(deps): updates React Native - yarn lock (squashed)
  .circleci/config.yml
  .yarnrc.yml
  yarn.lock
Due: none

chore(deps): updates React Native - lint fixes
  android/src/main/java/com/judopay/judokit/reactnative/JudoKitReactNativePackage.kt
  android/src/newarch/JudoKitReactNativeModule.kt
  example/ios/Podfile.lock
  example/src/Application/ApplicationRouter/Screens/GetTransactionDetailsScreen/index.tsx
  example/src/Application/ApplicationRouter/Screens/NoUiPaymentsScreen/index.tsx
  example/src/Application/ApplicationRouter/Screens/ResultScreen/index.tsx
  example/src/Application/ApplicationRouter/Screens/SettingsApplePay/index.tsx
  example/src/Application/ApplicationRouter/Screens/SettingsSingleSelectionScreen/index.tsx
  example/src/Application/ApplicationRouter/Screens/SettingsThreeDSUIScreen/index.tsx
  example/src/Application/ApplicationRouter/Screens/TokenPaymentsScreen/index.tsx
  ios/JudoKitReactNative.mm
  package.json
  src/NativeJudoKitReactNativeModule.ts
  yarn.lock
Due: lint, types, clang-format, ktlint

chore(deps): updates iOS and Android SDKs; removed iDEAL leftovers
  JudoKit-ReactNative.podspec
  android/gradle.properties
  android/src/main/java/com/judopay/judokit/reactnative/Helpers.kt
  example/android/app/build.gradle
  example/e2e/configs/billingInfo.json
  example/e2e/configs/default.json
  example/e2e/configs/noPreferenceCRI.json
  example/e2e/configs/ravelin.json
  example/ios/Podfile.lock
  example/src/Data/Constants/index.tsx
  example/src/Data/Mapping/index.ts
  example/src/Data/SettingsSections/paymentMethodsSection.ts
  example/src/Data/TypeDefinitions/index.ts
  ios/RNTypes.h
  ios/Wrappers/RNWrappers.m
  src/__mocks__/defaults.mock.ts
  src/__tests__/judo-configuration.test.ts
  src/judo-kit/index.ts
  src/types/judo-configuration.ts
Due: lint, types, clang-format, ktlint

chore(deps): cleans up code for PR
  example/ios/AppDelegate.swift
  example/src/Application/ApplicationRouter/index.tsx
Due: lint

chore(deps): updates RN to 0.80.1
  android/src/main/java/com/judopay/judokit/reactnative/JudoActivityEventListener.kt
  example/android/gradle/wrapper/gradle-wrapper.properties
  example/ios/JudoKitReactNativeExample.xcodeproj/project.pbxproj
  example/ios/JudoKitReactNativeExample/Info.plist
  example/ios/Podfile.lock
  example/package.json
  package.json
  yarn.lock
Due: ktlint

chore(sdk): bumps up react native judokit version (5.0.0)
  example/package.json
  package.json
Due: none

chore(sdk): bumps up react native judokit version (5.0.0)
  example/src/Application/ApplicationRouter/Screens/SettingsMainScreen/index.tsx
Due: lint

chore(deps): cleans up code for PR
  android/src/main/java/com/judopay/judokit/reactnative/JudoKitReactNativePackage.kt
  example/ios/JudoKitReactNativeExample.xcodeproj/project.pbxproj
  example/ios/JudoKitReactNativeExample/main.m
Due: clang-format, ktlint

Path conditions:
  lint: any of: *.{js,ts,jsx,tsx}
  types: any of: *.{js,ts, jsx, tsx}
  clang-format: any of: *.{m,h,mm}
  ktlint: any of: *.kt
