Repository Judopay/JudoKit-ReactNative: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, clang-format, ktlint

lint:
  run: npx eslint {staged_files}

types:
  run: npx tsc --noEmit

clang-format:
  run: bundle exec scripts/clang_format.rb

ktlint:
  run: bundle exec scripts/ktlint_format.rb

test(feat): add basic ideal tests
  example/e2e/constants.ts
  example/e2e/helpers.ts
  example/e2e/ideal.test.ts
Due: lint, types

test(feat): minor refactoring for iOS
  example/e2e/constants.ts
  example/e2e/helpers.ts
  example/e2e/ideal.test.ts
Due: lint, types

feat(test): remove redundant helper functions
  .circleci/config.yml
  example/e2e/billinginfo.test.ts
  example/e2e/helpers.ts
Due: lint, types

feat(test): fix failures on payment methods
  example/e2e/helpers.ts
  example/e2e/ideal.test.ts
Due: lint, types

test(feat): revert CI config
  .circleci/config.yml
Due: none

test(feat): address PR comments
  example/e2e/constants.ts
  example/e2e/helpers.ts
Due: lint, types

CT-3014 | Basic set of iDEAL tests (#220)
  example/e2e/billinginfo.test.ts
  example/e2e/constants.ts
  example/e2e/helpers.ts
  example/e2e/ideal.test.ts
Due: lint, types

Updates API the SDK is pointing to 6.21
  example/src/Application/ApplicationRouter/Screens/SettingsMainScreen/index.tsx
Due: lint

chore(deps): judokit-android version bump, package version bump
  android/gradle.properties
  example/android/app/build.gradle
  example/package.json
  package.json
Due: none

chore(deps): judokit-ios version bump
  JudoKit-ReactNative.podspec
  example/ios/Podfile.lock
Due: none

chore(deps): judokit-android version bump, package version bump (#222)
  JudoKit-ReactNative.podspec
  android/gradle.properties
  example/android/app/build.gradle
  example/ios/Podfile.lock
  example/package.json
  package.json
Due: none

fix(test): set UK locale manually
  .circleci/config.yml
  example/e2e/billinginfo.test.ts
Due: lint, types

chore(example-app): unimplemented Apple Pay Recurring properties removed
  example/e2e/configs/billingInfo.json
  example/e2e/configs/default.json
  example/e2e/configs/noPreferenceCRI.json
  example/e2e/configs/ravelin.json
  example/src/Data/Constants/index.tsx
  example/src/Data/Mapping/index.ts
  example/src/Data/SettingsSections/applePayRecurringPaymentSection.ts
  example/src/Data/TypeDefinitions/index.ts
  src/types/judo-apple-pay-configuration.ts
Due: lint, types

chore(example-app): unimplemented Apple Pay Recurring properties removed (#224)
  example/e2e/configs/billingInfo.json
  example/e2e/configs/default.json
  example/e2e/configs/noPreferenceCRI.json
  example/e2e/configs/ravelin.json
  example/src/Data/Constants/index.tsx
  example/src/Data/Mapping/index.ts
  example/src/Data/SettingsSections/applePayRecurringPaymentSection.ts
  example/src/Data/TypeDefinitions/index.ts
  src/types/judo-apple-pay-configuration.ts
Due: lint, types

fix(test): skip iDEAL tests
  example/e2e/ideal.test.ts
Due: lint, types

fix(test): revert CI changes
  .circleci/config.yml
Due: none

Address test failures (#225)
  example/e2e/billinginfo.test.ts
  example/e2e/ideal.test.ts
Due: lint, types

chore(general): bumps up Yarn version
  .yarn/releases/yarn-4.4.0.cjs
  .yarn/releases/yarn-4.6.0.cjs
  .yarnrc.yml
  package.json
Due: none

chore(deps): bumps up package versions
  Gemfile
  Gemfile.lock
  JudoKit-ReactNative.podspec
  android/gradle.properties
  example/android/app/build.gradle
  example/ios/Podfile.lock
  example/package.json
  package.json
Due: none

Updates API the SDK is pointing to 6.21 (#221)
  .yarn/releases/yarn-4.4.0.cjs
  .yarn/releases/yarn-4.6.0.cjs
  .yarnrc.yml
  Gemfile
  Gemfile.lock
  JudoKit-ReactNative.podspec
  android/gradle.properties
  example/android/app/build.gradle
  example/ios/Podfile.lock
  example/package.json
  example/src/Application/ApplicationRouter/Screens/SettingsMainScreen/index.tsx
  package.json
Due: lint

chore(sdk): updates api to 6.22 and native judokit versions accordingly (squashed)
  JudoKit-ReactNative.podspec
  android/gradle.properties
  android/src/main/java/com/judopay/judokit/reactnative/Helpers.kt
  example/android/app/build.gradle
  example/ios/Podfile.lock
  example/package.json
  example/src/Application/ApplicationRouter/Screens/SettingsMainScreen/index.tsx
  ios/Wrappers/RNWrappers.m
  package.json
  src/types/judo-configuration.ts
Due: lint, types, clang-format, ktlint

chore(sdk): updates api to 6.22 and native judokit versions accordingly (squashed) (#226)
  JudoKit-ReactNative.podspec
  android/gradle.properties
  android/src/main/java/com/judopay/judokit/reactnative/Helpers.kt
  example/android/app/build.gradle
  example/ios/Podfile.lock
  example/package.json
  example/src/Application/ApplicationRouter/Screens/SettingsMainScreen/index.tsx
  ios/Wrappers/RNWrappers.m
  package.json
  src/types/judo-configuration.ts
Due: lint, types, clang-format, ktlint

feat(test): add China and India state tests
  example/e2e/billinginfo.test.ts
  example/e2e/constants.ts
  example/e2e/helpers.ts
Due: lint, types

feat(test): run new tests on CI
  .circleci/config.yml
Due: none

feat(test): fix config for iOS E2E
  .circleci/config.yml
Due: none

feat(test): address failures
  .circleci/config.yml
  example/e2e/billinginfo.test.ts
  example/e2e/frictionless.test.ts
Due: lint, types

feat(test): account for US ZIP code validation
  example/e2e/constants.ts
  example/e2e/helpers.ts
Due: lint, types

feat(test): set country to US in zip code test
  example/e2e/billinginfo.test.ts
Due: lint, types

feat(test): revert CI config
  .circleci/config.yml
Due: none

feat(test): remove all traces of IDEAL tests
  example/e2e/constants.ts
  example/e2e/helpers.ts
  example/e2e/ideal.test.ts
Due: lint, types

feat(test): address PR comments
  example/e2e/constants.ts
  example/e2e/helpers.ts
Due: lint, types

CT-3048 | New state field UI tests (#227)
  example/e2e/billinginfo.test.ts
  example/e2e/constants.ts
  example/e2e/frictionless.test.ts
  example/e2e/helpers.ts
  example/e2e/ideal.test.ts
Due: lint, types

chore(ci/cd): do-2166 | set up snyk scans
  .github/workflows/snyk.yml
Due: none

chore(ci/cd): do-2166 | set up snyk scans (#228)
  .github/workflows/snyk.yml
Due: none

chore(ci/cd): do-2166 | revert set up snyk scans
  .github/workflows/snyk.yml
Due: none

chore(ci/cd): do-2166 | revert set up snyk scans (#229)
  .github/workflows/snyk.yml
Due: none

chore(deps): updates JudoKit-iOS, package and Yarn versions
  .yarn/releases/yarn-4.6.0.cjs
  .yarn/releases/yarn-4.7.0.cjs
  .yarnrc.yml
  JudoKit-ReactNative.podspec
  example/ios/Podfile.lock
  example/package.json
  package.json
Due: none

chore(deps): updates JudoKit-iOS, package and Yarn versions (#230)
  .yarn/releases/yarn-4.6.0.cjs
  .yarn/releases/yarn-4.7.0.cjs
  .yarnrc.yml
  JudoKit-ReactNative.podspec
  example/ios/Podfile.lock
  example/package.json
  package.json
Due: none

chore: update dependency @types/lodash to v4.17.17
  yarn.lock
Due: none

chore: update dependency @types/lodash to v4.17.17 (#231)
  yarn.lock
Due: none

Path conditions:
  lint: any of: *.{js,ts,jsx,tsx}
  types: any of: *.{js,ts, jsx, tsx}
  clang-format: any of: *.{m,h,mm}
  ktlint: any of: *.kt
