Repository Judopay/JudoKit-ReactNative: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, clang-format, ktlint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: "*.{js,ts,jsx,tsx}"
      run: npx eslint {staged_files}
    types:
      glob: "*.{js,ts, jsx, tsx}"
      run: npx tsc --noEmit
    clang-format:
      glob: "*.{m,h,mm}"
      run: bundle exec scripts/clang_format.rb
    ktlint:
      glob: "*.kt"
      run: bundle exec scripts/ktlint_format.rb
commit-msg:
  parallel: true
  commands:
    commitlint:
      run: npx commitlint --edit

chore(sdk): code cleanup (self-review before PR)
  example/src/Data/SettingsImporter/buildSettingsExport.ts
  example/src/Data/SettingsImporter/exportSections.ts
  example/src/Data/SettingsImporter/importMaps.ts
  example/src/Data/SettingsImporter/index.ts
  example/src/Data/SettingsImporter/parseSettingsImport.ts
  example/src/Data/SettingsImporter/types.ts
Due: lint, types

chore(sdk): code cleanup (self-review before PR)
  example/src/Data/SettingsImporter/index.ts
  example/src/Data/SettingsImporter/parseSettingsImport.ts
  example/src/Functions/index.tsx
Due: lint, types

chore(sdk): code cleanup (self-review before PR)
  example/src/CustomHooks/useSettingsTableState/index.ts
  example/src/Data/Constants/index.tsx
  example/src/Data/SettingsImporter/persist.ts
Due: lint, types

chore(example-app): fastlane update
  Gemfile
  Gemfile.lock
  fastlane/.env
Due: none

chore(sdk): fixes json settings export
  example/src/Data/SettingsImporter/persist.ts
Due: lint, types

chore(sdk): fixes json settings export
  example/src/Data/Constants/index.tsx
  example/src/Data/SettingsSections/apiConfigurationSection.ts
  example/src/Data/SettingsSections/othersSection.ts
Due: lint, types

chore(sdk): code cleanup (self-review before PR)
  example/src/Application/ApplicationRouter/Screens/SettingsMainScreen/index.tsx
  example/src/Components/ImportSettingsModal/index.tsx
  example/src/Data/SettingsImporter/settingsJsonPersistence.ts
Due: lint, types

chore(sdk): code cleanup (self-review before PR)
  example/e2e/configs/billingInfo.json
  example/e2e/configs/default.json
  example/e2e/configs/noPreferenceCRI.json
  example/e2e/configs/ravelin.json
  example/e2e/helpers.ts
  example/src/Data/SettingsImporter/index.ts
  example/src/Data/SettingsImporter/parseSettingsImport.ts
  example/src/Functions/index.tsx
Due: lint, types

chore: testing push
  README.md
Due: none

chore: json settings loading implementation (#295)
  Gemfile
  Gemfile.lock
  example/android/app/src/main/java/com/judopay/wallet/MainApplication.kt
  example/android/app/src/main/java/com/judopay/wallet/SettingsJsonModule.kt
  example/android/app/src/main/java/com/judopay/wallet/SettingsJsonPackage.kt
  example/e2e/configs/billingInfo.json
  example/e2e/configs/default.json
  example/e2e/configs/noPreferenceCRI.json
  example/e2e/configs/ravelin.json
  example/e2e/constants.ts
  example/e2e/helpers.ts
  example/ios/AppDelegate.swift
  example/ios/JudoKitReactNativeExample.xcodeproj/project.pbxproj
  example/ios/JudoKitReactNativeExample/Info.plist
  example/ios/Podfile.lock
  example/ios/SceneDelegate.swift
  example/ios/SettingsJsonModule.m
  example/src/Application/ApplicationRouter/Screens/HomeScreen/index.tsx
  example/src/Application/ApplicationRouter/Screens/SettingsMainScreen/index.tsx
  example/src/Components/ImportSettingsModal/index.tsx
  example/src/CustomHooks/useSettingsTableState/index.ts
  example/src/Data/Constants/index.tsx
  example/src/Data/SettingsImporter/buildSettingsExport.ts
  example/src/Data/SettingsImporter/exportSections.ts
  example/src/Data/SettingsImporter/importMaps.ts
  example/src/Data/SettingsImporter/index.ts
  example/src/Data/SettingsImporter/parseSettingsImport.ts
  example/src/Data/SettingsImporter/settingsJsonPersistence.ts
  example/src/Data/SettingsImporter/types.ts
  example/src/Data/SettingsSections/apiConfigurationSection.ts
  example/src/Data/SettingsSections/othersSection.ts
  example/src/Functions/index.tsx
  example/src/Native/SettingsJsonModule.ts
  fastlane/.env
Due: lint, types, clang-format, ktlint

chore: update dependency activesupport to v7.2.3.1 [security]
  Gemfile.lock
Due: none

chore: update dependency concurrent-ruby to '< 1.3.8' [security]
  Gemfile
  Gemfile.lock
Due: none

chore: update dependency @babel/core to v7.29.6 [security]
  yarn.lock
Due: none

fix: pin dependencies
  example/package.json
  package.json
  yarn.lock
Due: none

chore: updates native SDKs versions
  android/gradle.properties
  example/android/app/build.gradle
Due: none

chore: implements new form of google pay mit payments
  android/src/main/java/com/judopay/judokit/reactnative/Extensions.kt
  android/src/main/java/com/judopay/judokit/reactnative/Helpers.kt
  src/index.tsx
  src/types/index.ts
  src/types/judo-google-pay-configuration.ts
Due: lint, types, ktlint

fix: settings import modal wasn't read by accessibility software correctly
  example/src/Components/ImportSettingsModal/index.tsx
Due: lint

fix: fixes incorrect countries list mapping
  example/src/Data/Mapping/index.ts
Due: lint, types

fix: fixes inconsistent logic between stringOrUndefined and stringOrEmpty
  example/src/Data/Mapping/index.ts
  example/src/Functions/index.tsx
Due: lint, types

fix: fixes lack of toast message on Android (import success)
  example/src/Functions/index.tsx
Due: lint

fix: fixes JSON settings import issues CT-3316, CT-3317, CT-3318 (#297)
  example/src/Components/ImportSettingsModal/index.tsx
  example/src/Data/Mapping/index.ts
  example/src/Functions/index.tsx
Due: lint, types
