Repository Judopay/JudoKit-ReactNative: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, clang-format, ktlint

lint:
  run: npx eslint {staged_files}

types:
  run: npx tsc --noEmit

clang-format:
  run: bundle exec scripts/clang_format.rb

ktlint:
  run: bundle exec scripts/ktlint_format.rb

- Removes CocoaDebug - Updates JudoKit-iOS version - Updates Cocoapods version
  Gemfile
  Gemfile.lock
  JudoKit-ReactNative.podspec
  example/ios/JudoKitReactNativeExample/AppDelegate.mm
  example/ios/Podfile
  example/ios/Podfile.lock
Due: clang-format

Setting up CircleCI
  .circleci/config.yml
  .gitignore
  .ruby-version
  Gemfile.lock
  example/ios/.xcode.env.local
  example/ios/Podfile.lock
  example/package.json
  fastlane/Fastfile
Due: none

chore: adds app store connect API key setup
  .circleci/config.yml
  Gemfile
  example/android/app/build.gradle
  example/ios/JudoKitReactNativeExample.xcodeproj/project.pbxproj
  example/ios/JudoKitReactNativeExample/Info.plist
  example/ios/JudoKitReactNativeExampleTests/Info.plist
  fastlane/Fastfile
Due: none

chore: adds app store connect API key setup (#176)
  .circleci/config.yml
  Gemfile
  example/android/app/build.gradle
  example/ios/JudoKitReactNativeExample.xcodeproj/project.pbxproj
  example/ios/JudoKitReactNativeExample/Info.plist
  example/ios/JudoKitReactNativeExampleTests/Info.plist
  fastlane/Fastfile
Due: none

chore: settings up manual code signing for example/ios
  example/ios/JudoKitReactNativeExample.xcodeproj/project.pbxproj
Due: none

chore: settings up manual code signing for example/ios (#177)
  example/ios/JudoKitReactNativeExample.xcodeproj/project.pbxproj
Due: none

chore: replacing Cocoadebug with Wormholy, the first is stagnant and causes network timeouts
  Gemfile
  Gemfile.lock
  example/ios/JudoKitReactNativeExample/AppDelegate.mm
  example/ios/Podfile
  example/ios/Podfile.lock
Due: clang-format

chore: replacing Cocoadebug with Wormholy, the first is stagnant and causes network timeouts (#178)
  Gemfile
  Gemfile.lock
  example/ios/JudoKitReactNativeExample/AppDelegate.mm
  example/ios/Podfile
  example/ios/Podfile.lock
Due: clang-format

fix(example-app): fixing settings screen and adding the ability to generate payment session
  example/package.json
  example/src/Application/ApplicationRouter/Screens/SettingsMainScreen/index.tsx
  example/src/Components/SettingsTable/index.tsx
  example/src/Functions/index.tsx
  yarn.lock
Due: lint

fix(example-app): fixing settings screen and adding the ability to generate payment session (#180)
  example/package.json
  example/src/Application/ApplicationRouter/Screens/SettingsMainScreen/index.tsx
  example/src/Components/SettingsTable/index.tsx
  example/src/Functions/index.tsx
  yarn.lock
Due: lint

fix(example-app): adds missing permissions rationale and changes android target to 33 from 34
  example/android/app/build.gradle
  example/android/build.gradle
  example/ios/JudoKitReactNativeExample/Info.plist
  example/ios/Podfile
  example/ios/Podfile.lock
  example/src/Application/index.tsx
Due: lint

fix(example-app): adds missing permissions rationale and changes android target to 33 from 34 (#181)
  example/android/app/build.gradle
  example/android/build.gradle
  example/ios/JudoKitReactNativeExample/Info.plist
  example/ios/Podfile
  example/ios/Podfile.lock
  example/src/Application/index.tsx
Due: lint

fix(ios): reflect native token payments implementation changes
  ios/JudoKitReactNative.mm
Due: clang-format

fix(ios): reflect native token payments implementation changes (#182)
  ios/JudoKitReactNative.mm
Due: clang-format

fix(ci): fixes release step in circle ci config, drops `release-it` dependency
  .circleci/config.yml
  .yarn/plugins/@yarnpkg/plugin-interactive-tools.cjs
  .yarn/plugins/@yarnpkg/plugin-workspace-tools.cjs
  .yarn/releases/yarn-3.6.1.cjs
  .yarn/releases/yarn-4.1.0.cjs
  .yarnrc.yml
  CONTRIBUTING.md
  fastlane/Fastfile
  package.json
  yarn.lock
Due: none

fix(ci): fixes release step in circle ci config, drops `release-it` dependency (#183)
  .circleci/config.yml
  .yarn/plugins/@yarnpkg/plugin-interactive-tools.cjs
  .yarn/plugins/@yarnpkg/plugin-workspace-tools.cjs
  .yarn/releases/yarn-3.6.1.cjs
  .yarn/releases/yarn-4.1.0.cjs
  .yarnrc.yml
  CONTRIBUTING.md
  fastlane/Fastfile
  package.json
  yarn.lock
Due: none

fix(ci): release job not being triggered
  .circleci/config.yml
Due: none

fix(ci): release job not being triggered (#184)
  .circleci/config.yml
Due: none

fix(ci): moved the npm token to yarnrc.yml
  .circleci/config.yml
  .yarnrc.yml
  package.json
Due: none

fix(ci): moved the npm token to yarnrc.yml (#185)
  .circleci/config.yml
  .yarnrc.yml
  package.json
Due: none

test: fix Detox setup with new app changes
  example/.detoxrc.js
  example/android/app/src/androidTest/java/com/judopay/wallet/DetoxTest.java
  example/android/app/src/main/AndroidManifest.xml
  example/android/app/src/main/res/xml/network_security_config.xml
  example/android/build.gradle
  example/e2e/constants.ts
  example/e2e/functional.test.ts
  example/e2e/helpers.ts
  example/e2e/jest.config.js
  example/package.json
  example/src/Application/ApplicationRouter/Screens/HomeScreen/index.tsx
  example/src/Application/ApplicationRouter/Screens/ResultScreen/index.tsx
  example/src/Application/ApplicationRouter/Screens/TokenPaymentsScreen/index.tsx
  example/src/Components/BackButton/index.tsx
  example/src/Components/BooleanSettingsItem/index.tsx
  example/src/Components/Button/index.tsx
  example/src/Components/HowToStepsList/index.tsx
  example/src/Components/SettingsButton/index.tsx
  example/src/Components/SettingsTable/index.tsx
  example/src/Components/TextInput/index.tsx
  example/src/Components/TextSettingsItem/index.tsx
  example/src/Data/SettingsSections/apiConfigurationSection.ts
  example/src/Data/SettingsSections/authorizationSection.ts
  example/src/Data/SettingsSections/tokenPaymentsSection.ts
  example/src/Data/TypeDefinitions/index.ts
Due: lint, types

fix(sdk): incorrect mapping of token-payments native calls
  android/src/main/java/com/judopay/judokit/reactnative/Helpers.kt
  android/src/main/java/com/judopay/judokit/reactnative/JudoKitReactNativeModule.kt
  ios/Wrappers/RNWrappers.m
  src/index.tsx
  src/types/index.ts
Due: lint, types, clang-format, ktlint

fix(sdk): incorrect mapping of token-payments native calls (#186)
  android/src/main/java/com/judopay/judokit/reactnative/Helpers.kt
  android/src/main/java/com/judopay/judokit/reactnative/JudoKitReactNativeModule.kt
  ios/Wrappers/RNWrappers.m
  src/index.tsx
  src/types/index.ts
Due: lint, types, clang-format, ktlint

fix(sdk): `shouldPaymentMethodsVerifySecurityCode` not applied correctly
  android/src/main/java/com/judopay/judokit/reactnative/Helpers.kt
  android/src/main/java/com/judopay/judokit/reactnative/JudoKitReactNativeModule.kt
Due: ktlint

fix(sdk): `shouldPaymentMethodsVerifySecurityCode` not applied correctly (#187)
  android/src/main/java/com/judopay/judokit/reactnative/Helpers.kt
  android/src/main/java/com/judopay/judokit/reactnative/JudoKitReactNativeModule.kt
Due: ktlint

test: refactor main test file and tidy helpers
  example/e2e/constants.ts
  example/e2e/functional.test.ts
  example/e2e/helpers.ts
Due: lint, types

chore(sdk): package version bump
  example/ios/Podfile.lock
  example/package.json
  package.json
Due: none

fix(sdk): ktlint issues
  android/src/main/java/com/judopay/judokit/reactnative/JudoActivityEventListener.kt
  android/src/main/java/com/judopay/judokit/reactnative/JudoKitReactNativeModule.kt
Due: ktlint

chore(sdk): package version bump (#188)
  android/src/main/java/com/judopay/judokit/reactnative/JudoActivityEventListener.kt
  android/src/main/java/com/judopay/judokit/reactnative/JudoKitReactNativeModule.kt
  example/ios/Podfile.lock
  example/package.json
  package.json
Due: ktlint

test: further provisions for Android tests
  example/android/app/build.gradle
  example/e2e/constants.ts
  example/e2e/functional.test.ts
  example/e2e/helpers.ts
Due: lint, types

test: fix more failures and add more checks for Android
  example/e2e/functional.test.ts
  example/e2e/helpers.ts
Due: lint, types

test: some light refactoring
  example/e2e/constants.ts
  example/e2e/helpers.ts
Due: lint, types

test: address PR comments
  example/android/app/build.gradle
  example/android/app/src/main/AndroidManifest.xml
  example/android/build.gradle
  yarn.lock
Due: none

test: further PR comment refactoring
  example/e2e/constants.ts
  example/e2e/functional.test.ts
  example/e2e/helpers.ts
Due: lint, types

chore(sdk): updates yarn version and lockfile
  .yarn/releases/yarn-4.1.0.cjs
  .yarn/releases/yarn-4.1.1.cjs
  .yarnrc.yml
  package.json
  yarn.lock
Due: none

chore(sdk): formatting files, runs only the sdk tests when `yarn test`
  example/.detoxrc.js
  package.json
Due: lint, types

CT-2784 | Detox setup (#189)
  .yarn/releases/yarn-4.1.0.cjs
  .yarn/releases/yarn-4.1.1.cjs
  .yarnrc.yml
  example/.detoxrc.js
  example/android/app/build.gradle
  example/android/app/src/androidTest/java/com/judopay/wallet/DetoxTest.java
  example/android/app/src/main/AndroidManifest.xml
  example/android/app/src/main/res/xml/network_security_config.xml
  example/android/build.gradle
  example/e2e/constants.ts
  example/e2e/functional.test.ts
  example/e2e/helpers.ts
  example/e2e/jest.config.js
  example/package.json
  example/src/Application/ApplicationRouter/Screens/HomeScreen/index.tsx
  example/src/Application/ApplicationRouter/Screens/ResultScreen/index.tsx
  example/src/Application/ApplicationRouter/Screens/TokenPaymentsScreen/index.tsx
  example/src/Components/BackButton/index.tsx
  example/src/Components/BooleanSettingsItem/index.tsx
  example/src/Components/Button/index.tsx
  example/src/Components/HowToStepsList/index.tsx
  example/src/Components/SettingsButton/index.tsx
  example/src/Components/SettingsTable/index.tsx
  example/src/Components/TextInput/index.tsx
  example/src/Components/TextSettingsItem/index.tsx
  example/src/Data/SettingsSections/apiConfigurationSection.ts
  example/src/Data/SettingsSections/authorizationSection.ts
  example/src/Data/SettingsSections/tokenPaymentsSection.ts
  example/src/Data/TypeDefinitions/index.ts
  package.json
  yarn.lock
Due: lint, types

fix(sdk): fixes wrong package.json module path in `lib` generated files
  example/package.json
  package.json
  scripts/rewrite-package-json-module-path.js
  tsconfig.build.json
  yarn.lock
Due: lint, types

chore(sdk): adds js scripts to the package file list
  package.json
Due: none

Path conditions:
  lint: any of: *.{js,ts,jsx,tsx}
  types: any of: *.{js,ts, jsx, tsx}
  clang-format: any of: *.{m,h,mm}
  ktlint: any of: *.kt
