Repository Judopay/JudoKit-ReactNative: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, clang-format, ktlint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: "*.{js,ts,jsx,tsx}"
      run: npx eslint {staged_files}
    types:
      glob: "*.{js,ts, jsx, tsx}"
      run: npx tsc --noEmit
    clang-format:
      glob: "*.{m,h,mm}"
      run: bundle exec scripts/clang_format.rb
    ktlint:
      glob: "*.kt"
      run: bundle exec scripts/ktlint_format.rb
commit-msg:
  parallel: true
  commands:
    commitlint:
      run: npx commitlint --edit

fix(sdk): autolinking issues on Android
  README.md
  android/src/main/java/com/judopay/judokit/reactnative/Helpers.kt
  android/src/newarch/java/com/judopay/judokit/reactnative/JudoKitReactNativePackage.kt
  android/src/oldarch/java/com/judopay/judokit/reactnative/JudoKitReactNativePackage.kt
  example/ios/Podfile.lock
  example/package.json
  package.json
Due: ktlint

fix(sdk): autolinking issues on Android (#239)
  README.md
  android/src/main/java/com/judopay/judokit/reactnative/Helpers.kt
  android/src/newarch/java/com/judopay/judokit/reactnative/JudoKitReactNativePackage.kt
  android/src/oldarch/java/com/judopay/judokit/reactnative/JudoKitReactNativePackage.kt
  example/ios/Podfile.lock
  example/package.json
  package.json
Due: ktlint

chore: wip
  .gitignore
  Gemfile.lock
  fastlane/.env
  fastlane/Fastfile
  fastlane/Pluginfile
  fastlane/README.md
  fastlane/helpers.rb
Due: none

chore(sdl): updates native SDKs versions
  .yarn/releases/yarn-4.9.2.cjs
  .yarn/releases/yarn-4.9.4.cjs
  .yarnrc.yml
  JudoKit-ReactNative.podspec
  android/gradle.properties
  example/android/app/build.gradle
  example/ios/Podfile.lock
  example/package.json
  package.json
Due: none

chore: github-actions
  .circleci/config.yml
  .github/workflows/android-build-test-publish-sample-apps.yml
  .github/workflows/android-build-test-sample-apps.yml
  .github/workflows/build-test-sdk.yml
  .github/workflows/ios-build-test-publish-sample-apps.yml
  .github/workflows/ios-build-test-sample-apps.yml
  .github/workflows/publish-sdk.yml
  .gitignore
  fastlane/Fastfile
Due: none

chore(sdk): updates native SDKs versions (#240)
  .yarn/releases/yarn-4.9.2.cjs
  .yarn/releases/yarn-4.9.4.cjs
  .yarnrc.yml
  JudoKit-ReactNative.podspec
  android/gradle.properties
  example/android/app/build.gradle
  example/ios/Podfile.lock
  example/package.json
  package.json
Due: none

chore: change nodejs version to v22
  .nvmrc
Due: none

chore: wip
  .github/workflows/android-build-test-publish-sample-apps.yml
  .github/workflows/android-build-test-sample-apps.yml
  .github/workflows/build-test-publish-sample-apps.yml
  .github/workflows/build-test-sample-apps.yml
  .github/workflows/build-test-sdk.yml
  .github/workflows/ios-build-test-publish-sample-apps.yml
  .github/workflows/ios-build-test-sample-apps.yml
  .sonarscan
  fastlane/Fastfile
Due: none

chore: fix issues with workflow yaml
  .github/workflows/build-test-publish-sample-apps.yml
  .github/workflows/build-test-sample-apps.yml
  .github/workflows/publish-sdk.yml
Due: none

chore: wip
  fastlane/Fastfile
Due: none

chore: disable the sdk workflow for now
  .github/workflows/build-test-sdk.yml
Due: none

chore: switch to iPhone 16 for simulator tests
  example/.detoxrc.js
Due: lint, types

chore: switch to github actions
  .circleci/config.yml
  .github/workflows/build-test-publish-sample-apps.yml
  .github/workflows/build-test-sample-apps.yml
  .github/workflows/build-test-sdk.yml
  .github/workflows/publish-sdk.yml
  .gitignore
  .nvmrc
  .sonarscan
  Gemfile.lock
  example/.detoxrc.js
  fastlane/.env
  fastlane/Fastfile
  fastlane/Pluginfile
  fastlane/README.md
  fastlane/helpers.rb
Due: lint, types

chore(sdk): updates native iOS SDK version and removed deprecations
  JudoKit-ReactNative.podspec
  android/src/main/java/com/judopay/judokit/reactnative/Extensions.kt
  android/src/main/java/com/judopay/judokit/reactnative/Helpers.kt
  example/android/app/src/main/java/com/judopay/wallet/MainActivity.kt
  example/android/app/src/main/java/com/judopay/wallet/MainApplication.kt
  example/ios/Podfile.lock
  example/src/Data/Constants/index.tsx
  example/src/Data/Mapping/index.ts
  example/src/Data/TypeDefinitions/index.ts
  example/src/Functions/index.tsx
  ios/Wrappers/RNWrappers.m
  package.json
  src/__mocks__/defaults.mock.ts
  src/__tests__/judo-configuration.test.ts
  src/types/judo-configuration.ts
Due: lint, types, clang-format, ktlint

chore(sdk): updates tests
  src/__tests__/judo-configuration.test.ts
Due: lint, types

chore(sdk): updates native iOS SDK version and removed deprecations (#242)
  JudoKit-ReactNative.podspec
  android/src/main/java/com/judopay/judokit/reactnative/Extensions.kt
  android/src/main/java/com/judopay/judokit/reactnative/Helpers.kt
  example/android/app/src/main/java/com/judopay/wallet/MainActivity.kt
  example/android/app/src/main/java/com/judopay/wallet/MainApplication.kt
  example/ios/Podfile.lock
  example/src/Data/Constants/index.tsx
  example/src/Data/Mapping/index.ts
  example/src/Data/TypeDefinitions/index.ts
  example/src/Functions/index.tsx
  ios/Wrappers/RNWrappers.m
  package.json
  src/__mocks__/defaults.mock.ts
  src/__tests__/judo-configuration.test.ts
  src/types/judo-configuration.ts
Due: lint, types, clang-format, ktlint

chore(sdk): fixes save-card mappings on android
  android/src/main/java/com/judopay/judokit/reactnative/Helpers.kt
Due: ktlint

chore(sdk): fixes save-card mappings on android (#243)
  android/src/main/java/com/judopay/judokit/reactnative/Helpers.kt
Due: ktlint

chore: update dependency @evilmartians/lefthook to v1.13.0
  yarn.lock
Due: none

chore: update dependency @evilmartians/lefthook to v1.13.1
  yarn.lock
Due: none

chore: update dependency @evilmartians/lefthook to v1.13.6
  yarn.lock
Due: none

chore: update dependency @react-native-community/cli to v18.0.1 [security]
  yarn.lock
Due: none

chore: pass fabrick secrets to workflows
  .github/workflows/build-test-sample-apps.yml
Due: none

GitHub Actions (#241)
  .circleci/config.yml
  .github/workflows/build-test-publish-sample-apps.yml
  .github/workflows/build-test-sample-apps.yml
  .github/workflows/build-test-sdk.yml
  .github/workflows/publish-sdk.yml
  .gitignore
  .nvmrc
  .sonarscan
  Gemfile.lock
  example/.detoxrc.js
  fastlane/.env
  fastlane/Fastfile
  fastlane/Pluginfile
  fastlane/README.md
  fastlane/helpers.rb
Due: lint, types

chore: fix workflow
  .github/workflows/build-test-publish-sample-apps.yml
Due: none

DO-2227: Fix Workflow Error (#247)
  .github/workflows/build-test-publish-sample-apps.yml
Due: none

fix: fix workflow
  .github/workflows/build-test-sample-apps.yml
Due: none

DO-2227: Fix Workflow (#248)
  .github/workflows/build-test-sample-apps.yml
Due: none

fix: fix workflow 3
  .github/workflows/build-test-publish-sample-apps.yml
Due: none

DO-2227: Fix Workflow (#249)
  .github/workflows/build-test-publish-sample-apps.yml
Due: none

chore(sdk): updates native SDKs versions (Accessibility)
  JudoKit-ReactNative.podspec
  android/gradle.properties
  example/android/app/build.gradle
  example/ios/Podfile.lock
  example/package.json
  package.json
  yarn.lock
Due: none

chore(sdk): lint complain fix
  src/types/judo-apple-pay-configuration.ts
Due: lint, types

chore(sdk): vulnerable dependencies updated
  package.json
  yarn.lock
Due: none

chore(sdk): updates native SDKs versions (Accessibility) (#251)
  JudoKit-ReactNative.podspec
  android/gradle.properties
  example/android/app/build.gradle
  example/ios/Podfile.lock
  example/package.json
  package.json
  src/types/judo-apple-pay-configuration.ts
  yarn.lock
Due: lint, types
